*.iml
*.orig
*/target/*
*/.idea
*/README.md
/.settings/
*.log
/.idea/
/xc-service-manage-cms/target/
/xc-service-api/target/
/xc-framework-utils/target/
/xc-framework-model/target/
/xc-framework-common/target/
